@charset "utf-8";
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

$family-sans-serif: "Nunito", sans-serif;

$clear-primary: hsl(263, 60%, 48%);
$vivid-link: hsl(34, 90%, 50%);
// $vivid-link: hsl(180, 66%, 63%);
$cool-dark: hsl(216, 18%, 16%);
$the-light: hsl(0, 0%, 91%);

$primary: $clear-primary;
$link: $vivid-link;
$dark: $cool-dark;
$light: $the-light;

$easing: ease;
$radius: 0px;
$speed: 225ms;

$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
// $navbar-item-img-max-height: 2.25rem;

$card-radius: 0px;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules//bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

hr {
  background-color: $dark;
}

a,
.button {
  transition: all $speed $easing;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.has-border {
  border: solid 1px $light;
}

.has-text-underlined {
  text-decoration: underline;
}

.is-partially-hidden {
  max-height: 8em;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.is-partially-hidden:hover {
  max-height: 14em;
  transition: max-height 200ms ease-in;
}

.is-post-cover-image {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  transition: .2s;
}

.is-post-cover-image:hover {
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

#honeyPotField {
  position: absolute;
  left: -5000px;
}

@media screen and ( min-width: 1024px ) {
  .has-glass-background {
    max-width: 60%;
    padding: 2.5em;
  }
}